.findr-font {
    font-family: 'Redressed', cursive;
}

.main-div {
    margin-top: 12em;
}

@media (max-height: 415px) {
    .main-div {
    margin-top: 5em;
    }
}

.navbar-brand {
    font-size: 1em;
}

.top-navbar {
    text-align: center;
}